.form-1 {
  display: flex;
  align-items: center;
  justify-content: center;
 
  padding: 3px;
background-color: orange;

}

.cmxform {
  height: 800px;


}

#firstname {

  width: 250px;
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  border:2px solid blue;
  

}
.form-3{
  
  display: flex;
  align-items: center;
  justify-content: center;
 
  padding: 3px;
background-color: orange;



}
.cmxform3{
  height:490px;
}
.six-class{
  font-weight: bold;
  font-size: larger;
}
.submit1{
  margin-left: 8px;
  color: white;
  background-color: green;
 
  border-radius: 5px;
 
}

#lastname {
  width: 300px;
  height: 30px;
margin-top: 5px;
border-radius: 5px;
border:2px solid blue;

}

#username {
  width: 250px;
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
 border:none;
  margin-left: 10px;
}

#password {
  width: 250px;
  height: 30px;
margin-top:5px;
border-radius: 5px;
border: none;
margin-left:12px;
}

#co {
  width: 300px;
  height: 20px;
margin-top:5px;border-radius: 5px;
border:none;
}

#email {
  width: 250px;
  height: 30px;
margin-top: 5px;border-radius: 5px;
border:none;
margin-left: 10px;
}

#demo {
  color: red;


}

.valid1 {
  color: green;

}

.valid1:before {
  position: relative;
  left: -10px;
  content: "✔";
}


.terms{
  padding-right: 18%;
  padding-top: 50%;
}
#message {

  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
  height: 250px;
  width: 300px;
  margin-left: 100px;
  text-align: left;
}



#message p {

  font-size: 18px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
  margin-top: 0px;

}


.invalid:before {
  position: relative;
  left: -10px;
  content: "✖";
}

#psw {
  width: 100%;
}

#co {
  width: 100%;
}

.my-label.required {

  content: "*";
  order: 1;
  margin-top: 20px;
  margin-left: 50px;
  display: flex;
}

.my-label {
  display: flex;

}


/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;

  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a:hover{
  color:black;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */


/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
  display: flex;
}
.header-right a:hover {
  background-color: #ddd;
  color: black;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.form {
  background-color: skyblue;
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button {
  margin-top: 10px;
}

#newemail {
  background-color: green;
  width: 100px;
  color: white;


}

#success {
  background-color: green;
  width: 180px;
  color: white;


}


.new_form1 {
  width: 100%;
}

.user_books {
  display: flex;
}

.design-4 {
  display: flex;

}

.second-class {
  padding: 40px;
  background-color: skyblue;
  height: 200px;
  width: 150px;
  margin-left: 50px;
}

.first-class {
  padding: 40px;
  background-color: skyblue;
  height: 200px;
  width: 150px;
  margin-left: 50px;

}
.frth-class{
  padding: 40px;
  background-color: skyblue;
  height: 200px;
  width: 150px;
  margin-left: 50px;
 


}

.fourth-class {
  padding: 40px;
  background-color: skyblue;
  height: 200px;
  width: 150px;
  margin-left: 50px;
  margin-right: 50px;

}

.fifth-class {
  margin-top: 30px;
  color: red;
  margin-left: 400px;
}

.sixth-class {
 color: red;
  margin-left: 500px;
}

.qween {
  background-color: skyblue;
}

.h1 {
  color: orange;
  margin-left: 220px;
}

#confirm_password {
  width: 253px;
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  border:none;
  margin-left: 12px;
}

#role {
  width: 300px;
  height: 30px;
  border-radius: 5px;

}

fieldset {
  border: 1px solid rgb(255, 232, 57);
  width: 400px;
 margin: 40px;
  text-align: center;
  box-shadow: 5px 10px 18px #888888;
  background-color: lightyellow;
border-radius: 5px;

}

.submit {

  color: white;
  background-color: green;
  margin-left: 35px;
  border-radius: 5px;
  border:2px solid blue;
}

.submit:hover {
  background-color: rgb(78, 151, 59);
}
.submit1:hover {
  background-color: rgb(78, 151, 59);
}

#fg-demo {
  background-color: green;
  width: 300px;
  text-align: left;
  color: white;

}

#err {
  background-color: green;
  width: 250px;
  text-align: left;
  color: white;

}
label.error{
  
}
.form-3{

}
#suc{
  visibility:hidden;
  margin-top: 8px;
}
#demo{
  visibility:hidden;
  margin-top: 6px;
}
#demo1{
  visibility: hidden;
  margin-top: 6px;
}
#demo3{
  visibility: hidden;
  margin-top: 6px;
} 
#demo10{
  visibility:hidden;
  margin-top: 6px;
}
#demo6{
  visibility:hidden;
  margin-top: 6px;
}
#demo2{
  visibility:hidden;
  margin-top: 6px;
}
#demo14{
  visibility: hidden;
  margin-top: 6px;
}
.sixthi-class{
  margin-left: 550px;
  margin-top: 120px;
}
.home{
  margin-top: 20px;
  margin-left: 600px;
}
#tr{
  margin-top: 20px;
  padding-right: 25%;
} 
#password1{
  width: 251px;
  height: 30px;

border-radius: 5px;
border:none;
margin-left:10px;
}
#demo12{
  visibility:hidden
}
#bookid{
  width: 253px;
  height: 30px;
  margin-top: 5px;
  border:none ;
  border-radius: 15px;
 padding-left: 15px;
  margin-top: 30px;
   padding-right: 10px;
 

}
#booki{
  width: 253px;
  height: 30px;
  margin-top: 5px;
  border:none ;
  border-radius: 15px;
 padding-left: 15px;
  margin-top: 30px;
   padding-right: 10px;
 

}
#user1{
  width: 253px;
  height: 30px;
  margin-top: 5px;
  border:none ;
  border-radius: 15px;
 padding-left: 15px;
 margin-top: 30px;
   padding-right: 10px;
}
#bookid:hover{
  background-color:#bef7fa;
}
#userid{
  width: 253px;
  height: 30px;
  margin-top: 5px;
  border:none ;
  border-radius: 15px;
 padding-left: 15px;
 margin-top: 30px;
   padding-right: 10px;
  

}
#userid:hover{
  background-color:#bef7fa;
}
#issuedat{
  width: 253px;
  height: 30px;
  margin-top: 5px;
  border:none ;
 border-radius: 15px;
padding-left: 15px;
margin-top: 30px;
  padding-right: 10px;
 

}
#issuedat:hover{
  background-color:#bef7fa;
}
#updation{
  width: 253px;
  height: 30px;
  margin-top: 5px;
  border:none ;
 border-radius: 15px;
padding-left: 15px;
margin-top: 30px;
  padding-right: 10px;
 
}
#updation:hover{
  background-color:#bef7fa;
}
.mystyle{
  background-color: yellow;
}
#returnedat{
  width: 253px;
  height: 30px;
  margin-top: 5px;
 border:none ;
 border-radius: 15px;
padding-left: 15px;
margin-top: 30px;
  padding-right: 10px;
  margin-bottom: 30px;
 
}#returnedat:hover{
background-color:#bef7fa;
}
.submit2{
  color: white;
  background-color: green;

  border-radius: 5px;
  border:2px solid blue;
margin-left: 10px;
}
.submit2:hover{
  background-color: rgb(78, 151, 59);
}
.h2{
  color:orange;
  margin-left: 160px;
}
.form-2{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3px;


}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fcfcbb;
  margin: auto;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border: 1px solid #888;
  width: 300px;
  font-weight: bold;
  
}
a:hover { COLOR: red;  font-weight: none }
.logo{color: black;}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#close{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
mark{
  color:lightgrey;
}
.home{
  color:lightgrey;
}
.cmxform3{
  margin-top: 50px;
}